---
import Icon from "@components/ui/icons/Icon.astro";

interface Member {
  name: string;
  role: string;
  img: string;
  imgAlt: string;
  socials: {
    instagram?: string;
    github?: string;
    website?: string;
    linkedIn?: string;
  };
}

interface Props {
  title: string;
  description: string;
  members: Member[];
}

const { title, description, members }: Props = Astro.props;

const cloudName = "dglsdyi9e";
const baseUrl = `https://res.cloudinary.com/${cloudName}/image/upload/f_auto,q_auto/`;

// Map for the social platform and its corresponding icon name
const socialIconMap: Record<string, string> = {
  instagram: "instagramFooter",
  github: "githubFooter",
  website: "website",
  linkedIn: "linkedInFooter",
};
---

<section class="my-12 mb-20 ml-4 md:ml-8">
  <h2
    class="mb-4 text-4xl font-extrabold text-neutral-900 dark:text-neutral-100"
  >
    {title}
  </h2>
  <p
    class="mb-8 text-pretty text-xl font-light text-neutral-600 dark:text-neutral-400"
  >
    {description}
  </p>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-3">
    {
      members.map((member) => (
        <div class="group text-center">
          <div class="h-65 relative w-full overflow-hidden rounded-lg sm:h-72 md:h-96 lg:h-[400px] xl:h-[500px]">
            <div class="relative w-full h-full">
              <img
                class="w-full h-full object-cover transition-all duration-700 ease-[cubic-bezier(0.45,0,0.55,1)] 
                      grayscale group-hover:grayscale-0 scale-100 group-hover:scale-110"

                    src={`${baseUrl}${member.img}`}
                    srcset={`
                      ${baseUrl}w_400,c_fill/${member.img} 400w,
                      ${baseUrl}w_800,c_fill/${member.img} 800w,
                      ${baseUrl}w_1200,c_fill/${member.img} 1200w
                    `}
                    sizes="(max-width: 600px) 400px, (max-width: 900px) 800px, 1200px"
                    style="clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);"
                    alt={member.imgAlt}
                    loading="lazy"
              />
              {/* TODO: change above style clip */}

              <!-- Overlay -->
              <div
                class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-90 
                      transition-opacity duration-500 ease-in-out"
              ></div>

              <!-- Optional overlay text or icon -->
              <div
                class="absolute inset-0 flex flex-col items-center justify-center opacity-0 group-hover:opacity-100  group-hover:translate-y-16
                      transition-opacity duration-700  ease-in-out space-y-3"
              >
                <p class="text-red-500 text-lg font-semibold tracking-wide drop-shadow-md">
                  {member.name}
                </p>
                <p class="text-red-200 text-lg font-semibold tracking-wide drop-shadow-md">
                  {member.role}
                </p>
              </div>
          </div>
          </div>
          <h3 class="mt-4 text-lg font-bold text-neutral-900 dark:text-neutral-100">
            {member.name}
          </h3>
          <p class="text-sm text-neutral-600 dark:text-neutral-100">{member.role}</p>

          <div class="mt-2 flex justify-center space-x-3">
            {Object.entries(member.socials).map(
              ([platform, link]) =>
                link && (
                  <a
                    href={link}
                    class="social-icon-link"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    <Icon name={socialIconMap[platform]} />
                  </a>
                )
            )}
          </div>
        </div>
      ))
    }
  </div>
</section>

<style>
  .social-icon-link {
    @apply transform transition-transform hover:scale-110 hover:text-[#0000EE];
  }
</style>
